/*Background Image*/
body{
<<<<<<< HEAD
    background-image: url("bedBackground_improved.png");
    background-attachment: fixed;
    background-size: cover;
  }
=======
  background-image: url("bedBackground_improved.png");
  background-attachment: fixed;
  background-size: cover;
}
/*Multiple Choice Position*/
#switchPosition{
position: absolute;
top: 80%;
left: 70%;

}
/*Multiple Choice*/
.checkbox-wrapper-55 input[type="checkbox"] {
visibility: hidden;
display: none;
}

.checkbox-wrapper-55 *,
.checkbox-wrapper-55 ::after,
.checkbox-wrapper-55 ::before {
box-sizing: border-box;
}

.checkbox-wrapper-55 .rocker {
display: inline-block;
position: relative;
/*
SIZE OF SWITCH
==============
All sizes are in em - therefore
changing the font-size here
will change the size of the switch.
See .rocker-small below as example.
*/
font-size: 2em;
font-weight: bold;
text-align: center;
text-transform: uppercase;
color: #888;
width: 7em;
height: 4em;
overflow: hidden;
border-bottom: 0.5em solid #eee;
}

.checkbox-wrapper-55 .rocker-small {
font-size: 1em;
}

.checkbox-wrapper-55 .rocker::before {
content: "";
position: absolute;
top: 0.5em;
left: 0;
right: 0;
bottom: 0;
background-color: #999;
border: 0.5em solid #eee;
border-bottom: 0;
}

.checkbox-wrapper-55 .switch-left,
.checkbox-wrapper-55 .switch-right {
cursor: pointer;
position: absolute;
display: flex;
align-items: center;
justify-content: center;
height: 2.5em;
width: 3em;
transition: 0.2s;
user-select: none;
}

.checkbox-wrapper-55 .switch-left {
height: 2.4em;
width: 2.75em;
left: 0.85em;
bottom: 0.4em;
background-color: #ddd;
transform: rotate(15deg) skewX(15deg);
}

.checkbox-wrapper-55 .switch-right {
right: 0.5em;
bottom: 0;
background-color: #bd5757;
color: #fff;
}

.checkbox-wrapper-55 .switch-left::before,
.checkbox-wrapper-55 .switch-right::before {
content: "";
position: absolute;
width: 0.4em;
height: 2.45em;
bottom: -0.45em;
background-color: #ccc;
transform: skewY(-65deg);
}

.checkbox-wrapper-55 .switch-left::before {
left: -0.4em;
}

.checkbox-wrapper-55 .switch-right::before {
right: -0.375em;
background-color: transparent;
transform: skewY(65deg);
}

.checkbox-wrapper-55 input:checked + .switch-left {
background-color: #0084d0;
color: #fff;
bottom: 0px;
left: 0.5em;
height: 2.5em;
width: 3em;
transform: rotate(0deg) skewX(0deg);
}

.checkbox-wrapper-55 input:checked + .switch-left::before {
background-color: transparent;
width: 3.0833em;
}

.checkbox-wrapper-55 input:checked + .switch-left + .switch-right {
background-color: #ddd;
color: #888;
bottom: 0.4em;
right: 0.8em;
height: 2.4em;
width: 2.75em;
transform: rotate(-15deg) skewX(-15deg);
}

.checkbox-wrapper-55 input:checked + .switch-left + .switch-right::before {
background-color: #ccc;
}

/* Keyboard Users */
.checkbox-wrapper-55 input:focus + .switch-left {
color: #333;
}

.checkbox-wrapper-55 input:checked:focus + .switch-left {
color: #fff;
}

.checkbox-wrapper-55 input:focus + .switch-left + .switch-right {
color: #fff;
}

.checkbox-wrapper-55 input:checked:focus + .switch-left + .switch-right {
color: #333;
}

/* CSS */
.button-49,
.button-49:after {
width: 150px;
height: 76px;
line-height: 78px;
font-size: 20px;
font-family: 'Bebas Neue', sans-serif;
background: linear-gradient(45deg, transparent 5%, #060b73 5%);
border: 0;
color: #fff;
letter-spacing: 3px;
box-shadow: 6px 0px 0px #acf8fd;
outline: transparent;
position: absolute;
right:    20;
bottom:   20;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

.button-49:after {
--slice-0: inset(50% 50% 50% 50%);
--slice-1: inset(80% -6px 0 0);
--slice-2: inset(50% -6px 30% 0);
--slice-3: inset(10% -6px 85% 0);
--slice-4: inset(40% -6px 43% 0);
--slice-5: inset(80% -6px 5% 0);

content: 'WAKE UP';
display: block;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #02005b 5%);
text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
clip-path: var(--slice-0);
}

.button-49:hover:after {
animation: 1s glitch;
animation-timing-function: steps(2, end);
}

@keyframes glitch {
0% {
  clip-path: var(--slice-1);
  transform: translate(-20px, -10px);
}
10% {
  clip-path: var(--slice-3);
  transform: translate(10px, 10px);
}
20% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 10px);
}
30% {
  clip-path: var(--slice-3);
  transform: translate(0px, 5px);
}
40% {
  clip-path: var(--slice-2);
  transform: translate(-5px, 0px);
}
50% {
  clip-path: var(--slice-3);
  transform: translate(5px, 0px);
}
60% {
  clip-path: var(--slice-4);
  transform: translate(5px, 10px);
}
70% {
  clip-path: var(--slice-2);
  transform: translate(-10px, 10px);
}
80% {
  clip-path: var(--slice-5);
  transform: translate(20px, -10px);
}
90% {
  clip-path: var(--slice-1);
  transform: translate(-10px, 0px);
}
100% {
  clip-path: var(--slice-1);
  transform: translate(0);
}
}

@media (min-width: 768px) {
.button-49,
.button-49:after {
  width: 200px;
  height: 86px;
  line-height: 88px;
}
}
/*Button Position*/
#position{
  position: absolute;
  bottom: 17.5%;
  right: 17.5%;
}
>>>>>>> 6f1797b411cff6a74a4e53852590c0563f24d5dc
