/*Background Image*/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background-image: url("baby.png");
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
  }

.inputBox 
{
    position: relative;
    width: 250px;
}

.inputBox input
{
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: #1d2b3a;
    border-radius: 5px;
    outline: none;
    color: #fff;
    font-size: 1em;
    transition: 0.5s;
}

.inputBox span
{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255,255,255,0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span
{
    color: #00dfc4;
    transform: translateX(10px) translateY(-7x);
    font-size: 0.65em;
    padding: 0 10px;
    background: #1d2b3a;
    border-left: 1px solid #00dfc4;
    border-right: 1px solid #00dfc4;
    letter-spacing: 0.2em;
}

.inputBox:nth-child(2) input:valid ~ span,
.inputBox:nth-child(2) input:focus ~ span
{
    background: #00dfc4;
    color: #1d2b3a;
    border-radius: 2px;
} 

.inputBox input:valid,
.inputBox input:focus
{
    border: 1px solid #00dfc4;
}
/*Typing font*/
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(0, 8, 159); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
      color: #fa95ff;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #4A0368; }
  }
  
  @font-face {
    font-family: myFirstFont;
    src: url("Venily.ttf");
  }
  h1 {
    margin: auto;
    letter-spacing: 0.015em;
    font-size: 2em;
    line-height: 1.56;
    /* text-shadow: 0 1px #ca8dff, -1px 0 #c0cbff, -1px 2px #8da1ff, -2px 1px #c0cbff,
        -2px 3px #ca8dff, -3px 2px #c0cbff, -3px 4px #8da1ff, -4px 3px #c0cbff; */
    text-align: left;
    font-family: myFirstFont;
    src: url("Venily.ttf")
  }